//
// --------------------------------------------------

// Common blocks
// --------------------------------------------------
body
	font-family: $font-base 
	font-size: $size-base
	color: $color-base
	line-height: 1.35
	background-color: $bg-base

//
// --------------------------------------------------
.elements
	width: 375px
	margin: auto