// 
// --------------------------------------------------
.row
	margin-bottom: 12px
// input
// --------------------------------------------------
.input
	height: 24px
	padding: 4px 10px
	@include border-radius(3px)
	@include box-shadow(inset 0 1px 4px rgba(0,0,0,.3))
	border: 1px solid $gray
	font-size: 14px
	font-family: $h-font
	+placeholder
		font-family: $h-font
		font-size: 14px
	&.input_small
		height: 16px
		font-size: $size-s
		+placeholder
			font-size: $size-s

	
// select
// --------------------------------------------------

// textarea
// --------------------------------------------------

// checkbox
// --------------------------------------------------

// radio
// --------------------------------------------------

// tab
// --------------------------------------------------