// .uploads
// --------------------------------------------------
.uploads__list
	border-top: 1px solid $gray-light
	margin: 0 0 20px 0

	.uploads__file
		padding: 10px 10px 10px 10px
		border-bottom: 1px solid $gray-light
		position: relative

	.uploads__filename
		display: block
		font-size: $size-m
		font-family: $font-nb
		width: 75%

	.uploads__description
		display: block
		margin-top: 3px
		font-size: $size-s
		width: 75%

	.uploads__filesize
		margin-right: 10px
		font-size: $size-xs

	.uploads__download
		position: absolute
		right: 10px
		top: 6px
